.h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: grey;
}

.h3 {
    font-size: 70px;
    @extend .h2;
    background-color: black;
    color: gold;
}