$mapRedes:(facebook:blue,instagram:red,twitter:cian);

@each $redSocial, $color in $mapRedes {
    .#{$redSocial} {
        color: $color;
    }
}

//map - get

$estilo: (color:grey, tamFuente: 30px, aling: center);

.pepelepu {
    background-color: map-get($estilo, color);
    font-size: map-get($estilo, tamFuente);
}