/*mixins sin parametros*/
@mixin parrafos {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10rem;
    text-align: center;
    background-color: black;
}

.parrafosConEstilo {
    @include parrafos;
}

/*mixins con parametros*/

@mixin parrafosConParametros($size, $alineacion){
    font-size: 50px;
    text-align: $alineacion;

} 

.parrafosConHambre {
    @include parrafosConParametros(50px,center)
}