@import "variables";
@import "bucless";
@import "maps";
@import "extend";
@import "mixin";

//HTML BACKGROUND

html {
    background-color: darkred;
}
// ENCABEZADO

header {
    background-color:black;
    display: flex;
    align-items:flex-end;
    justify-content:space-evenly;
    font-size: 30px;
    text-transform: bold;

    h1 {
        color:darkgoldenrod;

    }

// BARRA DE NAVEGACIÓN
    nav {
        color:black;

        li {
            display: inline-block;

            a {
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;
                font-size: $tan-fuente - 1.5rem;

                &::hover {
                    background-color: crimson;
                    cursor: pointer;
                }
            }
        }
    }
}

//MAIN
main {
    color:crimson;
    background-image: url(/img/background.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

//h2 al h6

.pepelepu {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
    @include parrafos;
}

h5 {
    text-align: center;
    @include parrafos;
}

h6 {
    text-align: center;
    @include parrafos;
}